@{
    ViewBag.Title = "Home Page";
}


<div id="app">
    {{ message }}
    
    
    <my-component></my-component>
</div>

@Scripts.Render("~/node_modules/vue/dist/vue.min.js")
@Scripts.Render("~/node_modules/vue/dist/vue.common.min.js")
@Scripts.Render("~/dist/bundle.js")



<script>
    Vue.component('my-component', {
        template: '<div>A custom component!</div>'
    })

    const v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>