

@import "Styles/Variables";

body {
    background: $my-color-bg;
    color: $my-color-primary;
}

.footer {
    color: $my-color-gray-text;
}

.title {
    color: $my-color-white;
}

.reservation-next-btn {
    margin-left: 50%;
    width: 50%;
    margin-top: 50px;
    height: 50px;
    background: $my-color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding: 0 20px;
}

.section.is-fullheight {
    min-height: calc(100vh - 52px);
    display: flex;
    flex-direction: column;

    .section-title {
        flex: 0 0 auto;
        padding-bottom: 35px;
    }

    .section-body {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        > .button.align-left {
            align-self: flex-start;
        }
    }
}