

@import "Styles/Variables";

body {
    background: #f7f7f7;
    color: $my-color-primary;
}

.footer {
    color: $my-color-gray-text;
    padding: 2rem 1.5rem 2rem !important;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    background: white;
}

.reservation-btn-next {
    margin-left: 50%;
    width: 50%;
    margin-top: 50px;
    height: 50px;
    background: $my-color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: $my-color-white;
    padding: 0 20px;
    cursor: pointer;
    
    transition: color .2s;

    &:hover {
        color: $my-color-white;
        background-color: darken($my-color-primary, 10%);
    }
}

.notification {
    border-radius: 0;
    cursor: pointer;

    &.has-border-left {
        border-left: 2px solid $my-color-primary;
    }

    &.has-content-center {
        justify-content: center;
    }
}

.breadcrumb.is-large {
    font-size: 2.1rem;
}