
$my-color-black: #000;
$my-color-white: #fff;
$my-color-bg: #2f3238;
$my-color-gray-text: #363636;
$my-color-primary: #FC9713;
$my-color-accent: #ffc426;
$my-color-gray-icon: #dbdbdb;
$my-color-gray-icon-active: #363636;